:root {
  --cyan: hsl(179 62% 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-Gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  font-size: 16px;
  width: 375px;
  background-color: rgba(255, 182, 193, 0.17);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

section {
  margin-top: 40px;
  max-width: 80%;
  min-height: 60svh;
  margin-inline: auto;
}

h2 {
  padding: 5px 0px;
  color: var(--cyan);
  font-size: 1.1em;
}

h3 {
  color: var(--bright-yellow);
  margin-bottom: 10px;
  font-size: 0.9em;
}

p {
  line-height: 2;
  font-size: 0.8em;
  color: ;
}

#item1 {
  background-color: white;
  padding: 1em;
  border-radius: 5px 5px 0px 0px;
}

#item2 {
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  color: white;
}

#item3 {
  background-color: hsl(179 62% 43% / 0.8);
  padding: 1em;
  border-radius: 0px 0px 5px 5px;
}

#item2 h2,
#item3 h2 {
  color: white;
  font-size: 1em;
}

button {
  background-color: var(--bright-yellow);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 90%;
  box-shadow: 1px 3px 5px 0px hsla(0, 0%, 0%, 50%);
  display: block;
  margin-inline: auto;
  height: 3em;
  margin: 1em;
}

.button:hover {
  background-color: #0056b3;
}

li {
  list-style-type: none;
  color: white;
  font-size: 0.8em;
  line-height: 1.5;
  font-weight: 200;
}

.large-text {
  font-size: 2em;
  font-weight: 600;
}

.opacity-text {
  color: rgba(255, 255, 255, 0.389);
}

@media only screen and (min-width: 500px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 12px;
  }
}
